#sideshowB{
    width: 100%;
    margin-top: 50px;
    height: 7418px;
    #sideshow{
        width: 1188px;
        margin:0 auto;
        position: relative;
        .showleft{
            float: left;
            .sl2 ,.sl3{
                margin-top: 10px;
            }
        }
        .showtop{
            float: left;
            margin-left: 16px;
            width: 790px;
            height: 46px;
            border: 1px solid #dfdfdf;
            line-height: 46px;
            li{
                vertical-align: middle;
                float: left;
                a{
                    color: #000;
                    border-right: 1px dashed #999;
                    height: 14px;
                    padding: 0 20px;
                    span{
                        color: blue;
                    }
                }
            }
        }
        .wrapper{
            float: left;
            position: relative;
            left: 16px;
            width: 790px;
            height: 305px;
            ul{
                position: relative;
            }
            ul li{
                position: absolute;
                top: 0;
                left: 0;
                img{
                   width: 790px;
                   height: 305px; 
                }
            }
            ol{
                position: absolute;
                bottom: 10px;
                right: 5px;
                li{
                    float: left;
                    width: 25px;
                    height: 25px;
                    background-color: #716564;
                    border-radius: 50%;
                    margin:0 3px;
                    color: #fff;
                    text-align: center;
                    line-height: 25px;
                    font-size: 15px;
                }
                li.clored{
                    background-color: #b91919;
                }
            }
        }
        .showbom{
            width: 790px;
            float: left;
            position: relative;
            left: 16px;
            top: 70px;
            img{
                margin-top: 16px;
            }
        }
    }    
}